<form ngForm class="kafka-assit-form" [formGroup]="publishingFromGroup">
    <div fxLayout="row" fxLayoutGap="20px">

        <mat-form-field fxFlex="1 2 50" appearance="outline">
            <mat-label>Choose a Connection</mat-label>
            <mat-select formControlName="connectionName" (selectionChange)="onConnectionChange($event)">
                <mat-option value="perf">perf</mat-option>
                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                <mat-option value="option3" disabled>Option 3</mat-option>
            </mat-select>
            <mat-icon matSuffix (click)="addNewConnection()">add_link</mat-icon>
        </mat-form-field>


        <mat-form-field fxFlex="4 1 50" appearance="outline">
            <mat-label>Topic Name</mat-label>
            <input formControlName="topic" [matAutocomplete]="autoTopicNames" matInput placeholder="Placeholder">
            <mat-autocomplete #autoTopicNames="matAutocomplete">
                <mat-option *ngFor="let option of filteredTopics | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>playlist_add</mat-icon>
        </mat-form-field>
      
            <button class="kafka-assit-button" fxFlex="0 0 20" mat-raised-button color="primary" (click)="publish()">Publish</button>
       
    </div>
    <div fxLayout="row">

        <mat-form-field fxFlex="100%" appearance="outline">
            <mat-label>Message to Publish</mat-label>
            <textarea formControlName="message" cdkTextareaAutosize #message="cdkTextareaAutosize"
                cdkAutosizeMinRows="30" cdkAutosizeMaxRows="150" matInput placeholder="{}"></textarea>
            <mat-icon matSuffix>code</mat-icon>
            <mat-hint>Type or Paste the message here</mat-hint>
        </mat-form-field>

    </div>
</form>